.page-two{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .introduction{
        font-size: 50px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .box-content{
        padding: 45px 35px;
        background: #ffffff;
        border-radius: 10px;
        width:100%;
        max-width:500px;
    }
    .page-two-input{
        max-width: 500px;
        width: 100%;
    }

    .ant-select-auto-complete.ant-select .ant-select-selection--single{
        height: 50px;
    }
    .ant-select-auto-complete.ant-select .ant-input{
        height:50px;
    }
        
}